{
	"workflowId": "Unit_tester-module_name",
	"description": "This workflow implements a runner that will execute the unit tests for the given module in the workflows folder",
	"moduleName": "put_here_your_module_name",
	"provides": [],
	"requires": []
}
